@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float_box {
  /* width: 225px;
  共通クラスに切り出し */
  margin-left: 50px;
  /* box-sizing: border-box;
  共通クラスに切り出し */
  float: left;/* floatでの横並び */
  font-size: 16px;
}

.float_box:first-child {
  margin-left: 0;
}

/* --- */

.table {
  display: table;/* tableでの横並び */
}

.table_cell {
  /* width: 225px; 共通クラスに切り出し */
  padding-left: 50px;
  display: table-cell;/* tableでの横並び */
  vertical-align: middle;
}

.table_cell:first-child {
  padding-left: 0;
}

/* --- */

.font_0 {
  font-size: 0;
}

.inline_block_content {
  /* width: 225px; 共通クラスに切り出し */
  margin-left: 50px;
  font-size: 16px;
  display: inline-block;/* inline-blockでの横並び */
  /* box-sizing: border-box;
  共通クラスに切り出し */
  vertical-align: middle;
}

.inline_block_content:first-child {
  margin-left: 0;
}

/* --- */

.flex_box {
  display: flex;/* flexでの横並び */
  justify-content: space-around;
  align-items: flex-end;
}

.flex_content {
  /* width: 225px; 共通クラスに切り出し */
  /* box-sizing: border-box;
  共通クラスに切り出し */
}

/* --- */

/* .stable_flexible_box {
  font-size: 0;
} */

.stable_box {
  width: 300px;
  font-size: 16px;
  display: inline-block;/* inline-blockとmarginでの横並び */
  /* box-sizing: border-box;
  共通クラスに切り出し */
  vertical-align: top;
}

.flexible_box {
  width: 100%;
  font-size: 16px;
  margin-left: -300px;/* inline-blockとmarginでの横並び */
  padding-left: 350px;
  display: inline-block;/* inline-blockとmarginでの横並び */
  /* box-sizing: border-box;
  共通クラスに切り出し */
  vertical-align: top;
}

.common_w {/* 共通クラス */
  width: 225px;
}

.common_bs {/* 共通クラス */
  box-sizing: border-box;
}