@charset "UTF-8";

.text_area {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;/* 中央配置 */
  border: 5px solid #222;
  /* 線のデザイン */
  border-radius: 30px;
  /* 角丸 */
}

.text_area::before,
.text_area::after {
  position: absolute;
  border: 20px solid transparent;
  /* 吹き出し下部の角 */
  content: "";
}

/* --- */

.text_area::before {
  border-top-color: #222;
  bottom: -45px;
  left: 30px;
}

.text_area::after {
  border-top-color: #fff;
  bottom: -38px;/* 吹き出し下部の三角 */
  left: 30px;/* 下部三角の空白 */
}
